# ============================================================================
# Config file for Denovo Assembly
#
# ==========================================[ Sections for the users ]========
#
# One of input_directory, input_pattern and input_samples must be provided
# If input_directory provided, use it otherwise if input_pattern provided,
# use it, otherwise use input_samples.
# ============================================================================
#
input_directory: ""
input_readtag: _R[12]_
input_pattern: "*fastq.gz"
assembler: "spades"

apptainers:
  blast: "https://zenodo.org/record/7848524/files/blast_2.12.0.img"
  bwa: "https://zenodo.org/record/7341710/files/sequana_tools_0.14.5.img"
  busco: "https://zenodo.org/record/7794877/files/busco_5.4.6.img"
  digital_normalisation: "https://zenodo.org/record/7341710/files/sequana_tools_0.14.5.img"
  freebayes: "https://zenodo.org/record/7341710/files/sequana_tools_0.14.5.img"
  graphviz: "https://zenodo.org/record/7928262/files/graphviz_7.0.5.img"
  quast: "https://zenodo.org/record/7848771/files/quast_5.2.0.img"
  prokka: "https://zenodo.org/record/7946774/files/prokka_1.14.6.img"
  sambamba: "https://zenodo.org/record/7341710/files/sequana_tools_0.14.5.img"
  samtools: "https://zenodo.org/record/7341710/files/sequana_tools_0.14.5.img"
  seqkit:  "https://zenodo.org/record/7821924/files/seqkit_2.4.0.img"
  spades: "https://zenodo.org/record/7341710/files/sequana_tools_0.14.5.img"
  unicycler: "https://zenodo.org/record/7335176/files/denovo_tools_0.0.2.img"


##############################################################################
# Khmer - Digital Normalisation
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - ksize: kmer size used to normalised the coverage.
# - cutoff: when the median k-mer coverage level is above this number the read
#       is not kept.
# - max_memory_usage: maximum amount of memory to use for data structure.
# - threads: number of threads to be used.
# - options: any options recognised by normalize-by-median.py.
# - resources: computing resources needed to run the job on a cluster
#
digital_normalisation:
  do: yes
  ksize: 20
  cutoff: 20
  max_memory_usage: 4e9
  threads: 4
  options: ""

  resources:
    mem: 4G

##############################################################################
# Spades - De Novo Assembly
#
# :Parameters:
#
# - k: comma-separated list of k-mer sizes (must be odd and less than 128). 
#      use quote (sequanix requirements)
# - preset: any preset in this list ["", "meta", "sc", "isolate", "metaplasmid", "metaviral", "rna", "rnaviral"].
# - options: any options recognised by spades.py.
# - memory: RAM limit for SPAdes in Gb (terminates if exceeded).
# - threads: number of threads to be used.
# - resources: computing resources needed to run the job on a cluster
#
spades:
  k: "21,33,55,77,99,127"
  preset: ""
  options: "--careful"
  memory: 64
  threads: 8
  resources:
    mem: 64G

##############################################################################
# Unicycler - De Novo Assembly
#
# :Parameters:
#
# - mode: any bridging mode in this list ["conservative", "normal", "bold"]
# - options: any options recognised by unicycler.
# - threads: number of threads to be used.
# - resources: computing resources needed to run the job on a cluster
#
unicycler:
  mode: "normal"
  options: ""
  threads: 8
  resources:
    mem: 64G

##############################################################################
# Quast - Compute metrics to assess assembly
#
# :Parameters:
#
# - reference_file: Reference genome file (optional).
# - annotation_file: Gene positions in the reference genome.
# - options: any options recognised by quast.
# - threads: Number of threads to be used.
# - resources: computing resources needed to run the job on a cluster - options: Any options recognised by quast.py.
#
quast:
  reference_file: ""
  annotation_file: ""
  threads: 4
  options: ""

##############################################################################
# Prokka - Annotate the genome assembly
#
# :Parameters:
#
# - do: If unchecked, this rule is ignored.
# - kingdom: Annotation mode (Archaea|Bacteria|Mitochondria|Viruses)
# - genus: Genus name of the assembly.
# - species: Species name of the assembly.
# - threads: Number of threads used by Prokka.
# - options: Any options recognised by Prokka.
#
prokka:
  do: yes
  kingdom: Bacteria
  genus: ""
  species: ""
  threads: 4
  options: ""

##############################################################################
# Busco
#
# :Parameters:
#   
# - do: if unchecked, this rule is ignored
# - lineage: Specify the name of the BUSCO lineage to be used.
# - options: any options recognised by `busco` cli.
# - threads: Number of threads to use.
busco:
    do: false
    lineage: ''
    options: '--offline'
    threads: 4

##############################################################################
# Seqkit filter
#
# :Parameters:
#
# - threshold: when the contig length is lower than this number, the contig
#       is not kept.
#
seqkit_filter:
  threshold: 500


##############################################################################
# BWA - Mapping
#
# :Parameters:
#
# - index_algorithm: the BWA index algorithm (auto|is|bwtsw|rb2).
# - options: any options recognised by BWA MEM tool.
# - threads: number of threads to be used.
# - tmp_directory: temporary directory
#
bwa:
  index_algorithm: is
  options: -T 30
  threads: 4
  tmp_directory:

##############################################################################
# Sambamba - Marks or removes duplicates
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - remove: boolean if you want remove or not duplicated reads.
# - tmp_directory: set the temporary directory.
#
sambamba_markdup:
  do: true
  remove: false
  tmp_directory:

##############################################################################
# Filter reads with a mapping score lower than an integer
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - threshold: mapping score threshold (between 0 and 60).
#
sambamba_filter:
  do: true
  threshold: 30

##############################################################################
# Sequana coverage - Analyse the coverage of the mapping
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - k: number of gaussian predicted.
# - circular: if your genome is circular.
# - window_size: window size to compute the running median.
# - low_threshold: threshold to detect low coverage regions.
# - high_threshold: threshold to detect high coverage regions.
# - gc_window_size: window size to compute GC content.
#
sequana_coverage:
  do: yes
  mixture_models: 2
  circular: false
  window_size: 40001
  chunksize: 5000000
  low_threshold: -4.0
  high_threshold: 4.0
  gc_window_size: 201
  double_threshold: 0.5
  resources:
    mem: 12G

##############################################################################
# Freebayes - Variant caller
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored.
# - ploidy: set the ploidy of your samples.
# - options: any options recognised by freebayes.
#
freebayes:
  do: yes
  ploidy: 1
  options: ""

##############################################################################
# Filter VCF
#
# :Parameters:
#
# - freebayes_score: threshold for minimum freebayes score.
# - frequency: threshold for minimum alternative allele frequency.
# - min_depth: threshold for minimum coverage depth.
# - forward_depth: threshold for minimum coverage depth of forward strand.
# - reverse_depth: threshold for minimum coverage depth of reverse strand.
# - strand_ratio: threshold for minimum strand ratio between 0 and 0.5.
#
vcf_filter:
  freebayes_score: 10
  frequency: 0.7
  min_depth: 6
  forward_depth: 3
  reverse_depth: 3
  strand_ratio: 0.2


##############################################################################
# SeqKit Head
#
# :Parameters:
#
# - n_first: Keep only n first contigs
seqkit_head:
  n_first: 100

##############################################################################
# Blast
#
# :Parameters:
#
# - do: if unchecked, this rule is ignored
# - db_dir: Path to BLAST databases.
# - evalue: Expectation value (E) threshold for saving hits.
# - options: any options recognised by `blastn` cli (except --outfmt)
# - threads: Number of threads to use.
blast:
  do: false
  blastdb: ""
  evalue: "1e-10"
  outfmt: "6 qseqid sseqid pident length mismatch gapopen qstart qend sstart send evalue bitscore staxids stitle"
  options: "-max_target_seqs 5"
  threads: 4
  resources:
    mem: 12G

multiqc:
  options: -p -f
  modules:
  input_directory: .
  config_file: "multiqc_config.yaml"
